.center {
    width: 600px;
    height: 300px;
    border: solid 2px #2d6097;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    color: black;
    background-color: #fcfcfc;
}

.date, .name, .pass {
    width: 400px;
    height: 50px;
    margin: 15px;
    display: flex;
}
.date {
    align-items: center;
    background-color: #f7e1d7;
    padding-left: 5px;
    font-size: 16px;
}

span {
    width: 100px;
    height: 100%;
    background-color: #82bae4;
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding-left: 5px;
    border-radius: 10px;
    color: white;
}

input {
    width: 270px;
    height: 80%;
    display: flex;
    align-items: center;
    border: solid 2px #90c4ed;
    border-radius: 10px;
    background-color: #fcfcfc;
}

button {
    width: 150px;
    height: 50px;
    background-color: #2d6097;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
}